.posts-global-box {
  /* border: 1px solid red; */
  padding: 20px 40px 40px 40px;
  margin: 0px 40px 40px 40px;
  /* float: left; */
  float: center;
  display: block;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.main-box-head {
  /* border: 1px solid blue; */
  background-color: transparent;
  /* background-image: url("/images/colored_background.jpeg"); */
  /* color: #232323; */
  padding: 20px;
  font-family: "open sans", arial, helvetica, sans-serif;
  color: #000033;
  font-size: 25px;
  text-align: center;
  justify-content: center;
}
.main-box-inside {
  /* border: 1px solid purple; */
  padding: 0px 40px 40px 40px;
  margin: 0px 40px 40px 40px;
  width: 80%;
  float: center;
  align-items: center;
  justify-content: center;
  /* display: block; */
}

#blogimg {
  /* width: 230px;
  height: 195px; */
  width: 250px;
  height: 250px;
  object-fit: cover;
  opacity: 0.6;
  transition: 0.3s;
}

#blogimg:hover {
  opacity: 1;
}

.image-box {
  /* border: 1px solid grey; */
  /* float: left; */
  margin-right: 20px;
  padding: 10px;
  display: block;
}
.entry-header {
  /* border: 1px solid blue; */
  margin: 0 0 5px;
  padding: 20px;
  width: 100%;
  /* vertical distance between items */
  line-height: 150%;
}
.entry-header-and-image-box {
  position: sticky;
  position: -webkit-sticky;
  border: 2px solid #000033;
  display: flex;
  justify-items: center;
  width: 100%;
  background-color: #faf1e7;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 20px;
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
  border: 0;
  /* font-size: 100%; */
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

.title {
  border-bottom: 2px solid #cf4d35;
  /* border: 0; */
  font-size: 135%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  color: #000033;
}
.author {
  border: 0;
  font-size: 120%;
  margin: 10px;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  font-weight: 400;
  font-size: 14px;
  color: #cf4d35;
}
.date {
  border: 0;
  font-size: 135%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  color: #9b9b9b;
  font-size: 12px;
}
.likes {
  border: 0;
  font-size: 200%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  color: #000033;
  font-size: 12px;
}
.date-and-likes {
  /* display: flex;
  justify-content: space-between; */
  margin-left: 0;
  margin-right: 0;
}
.tags {
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  color: #000033;
  font-size: 14px;
}
#blog-author {
  color: #cf4d35;
}

.bnt-back-next {
  /* border: 1px solid red; */
  justify-content: center;
  float: right;
}
