h1 {
  font-size: 25px;
}

.home-items {
  /* text-align: center; */
  /* border: 1px solid pink; */
  padding: 20px 40px 40px 40px;
  margin: 0 40px 40px 40px;
  display: block;
  z-index: 7;
  float: center;
  background-color: transparent;
}
.dico-header-box {
  /* border: 1px solid blue; */
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  line-height: 5%;
  background-image: url("/images/colored_background.jpeg");
  opacity: 0.9;
}
.dico-search-container {
  /* border: 1px solid yellow; */
  /* line-height: 0.5em; */
  height: 200px;
  /* line-height: 2%; */
  float: center;
  justify-content: center;
}
.search-bar-container {
  border: 1px solid brown;
}

#search-bar {
  position: absolute;
  /* top: 50; */
  left: 20%;
  z-index: 10;
  padding: 2em 2.5%;
  background: 0;
  color: #000033;
  outline: 0;
  /* padding-left: 35px; */
  font-size: 18px;
  border-radius: 20px;
  padding: 10px;
  /* border: 2px solid #cf4d35; */
  align-items: center;
  /* margin: 30px; */
  float: right;
  overflow: hidden;
  width: 60%;
  background-color: #faf1e7;
  /* -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out; */
}
/* #search-bar:hover {
  width: 60%;
} */

.definitions {
  /* border: 1px solid red; */
  /* background-color: #f8f8ff; */
  padding-top: 10px;
  background-color: #faf1e7;
  z-index: 5;
  background-size: cover;
  background-repeat: no-repeat;
}
#lang {
  color: #cf4d35;
}

option {
  /* position: absolute;
  top: 0; */
  padding: 2em 2.5%;
  /* width: 110%; */
  width: auto;
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 15px 1px;
  border-radius: 20px;
  border: #f0f0f0;
  /* background-color: #f8f8ff; */
  background-color: #faf1e7;
  font-size: 18px;
  color: #000033;
  display: flex;
  align-items: flex-start;
  font-weight: 600;
}

select {
  /* select french or english */
  /* margin-left: 900px; */
  border: solid 0px;
  border-radius: 10px;
  /* background-color: #f8f8ff; */
  background-color: transparent;
  cursor: pointer;
}

.dico-title {
  /* border: 1px solid grey; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  /* width: 50%; */
  /* left: 20%; */
  justify-content: center;
  text-align: center;
}
#search-bar {
  /* border: 1px solid yellow; */
  border: 2px solid #000033;
  /* top: 36.4%; */
  /* top: 34.4%; */
  top: 50%;
  justify-content: center;
}
#lang-options {
  /* border: 1px solid yellow; */
  /* position: absolute;
  top: 30; */
  /* margin-left: 100%; */
  padding: 35px;
  float: right;
  margin-left: 5px;
  box-sizing: border-box;
  line-height: 0.5em;
  justify-content: center;
}
.search-langChoice-pagination {
  /* border: 1px solid purple; */
  padding: 35px;
  align-items: center;
  display: flex;
  /* align-items: space-around; */
  justify-content: center;
  font-size: 14px;
  flex-direction: column;
  /* line-height: 0.5em; */
  line-height: 5%;
}

#pagination {
  /* border: 1px solid green; */
  align-items: flex-start;
}
button {
  border: solid 1px #000033;
  border-radius: 10px;
  background-color: #faf1e7;
  /* padding: 5px; */
  margin: 5px;
  font-size: 18px;
}

#pagination-btn {
  border: solid 1px #faf1e7;
  border-radius: 10px;
  background-color: #000033;
  margin-left: 10px;
  color: #faf1e7;
}
